//Borders
$base-border: 1px solid #dbdbdb;

//Colors
$base-color: #fafafa;
$primary-color: #ffffff;
$primary-text-color: #262626;
$light-text-color: #8e8e8e;
$accents-color: #efefef;

//Desktop sizes
$desktop-container-width: 935px;
