//Borders
$base-border: 1px solid #dbdbdb;
$small-border-radius: 4px;
$medium-border-radius: 8px;

//Colors
$base-color: #fafafa;
$primary-color: #ffffff;
$primary-text-color: #262626;
$light-text-color: #8e8e8e;
$accents-color: #efefef;
$accent-light-blue: #0095f6;
$accent-dark-blue: #00376b;
$accent-gray-blue: #385185;

//Desktop sizes
$desktop-parent-container-width: 935px;
$desktop-small-container-width: 270px;
$desktop-medium-container-width: 350px;

//Fonts
$bigger-font-size: 17px;
$regular-font-size: 14px;
$medium-font-size: 13px;
$small-font-size: 12px;

//Margins
$default-margin: 24px;
$small-margin: 12px;
